.gamefinished {
  position: absolute;
  background-color: #1d3d7a;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 1;
}

body {
  background-color: #1d3d7a;
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
  padding: 5px 15px;
}

select {
  width: 200px;
  padding: 5px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  background-color: #a7c5e3;
}

select:focus,
button:focus {
  outline: 0;
}


.settings {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 1);
  height: 70px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
}

.settings.hide {
  transform: translateY(-100%);
}

.card.container.position-absolute.bottom-0.start-50.translate-middle-x {
  background-color: #1F4690;
  border-radius: 4px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  color: #fff;
  text-align: center;
}

h1 {
  margin: 0;
}

input {
  align-items: center;
  border: 0;
  border-radius: 4px;
  font-size: 14px;
  width: 300px;
  padding: 12px 20px;
  margin-top: 10px;
}

.score-container {
  position: absolute;
  margin-top: 80px;
  margin-left: 1220px;
  font-size: 40px;
  color: white;
  text-align: center;
}

.time-container {
  position: absolute;
  margin-top: 80px;
  margin-left: 11px;
  font-size: 35px;
  color: white;
  text-align: center;
}

.end-game-container {
  background-color: inherit;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 89%;
  z-index: 1;
}

canvas {
  border: 5px outset #d3d3d3;
  background-color: #4278f5;
  Margin: 0 auto;
  Vertical-align: middle;
}